<h1>Create a Camper:</h1>
<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |msg| %>
    <li style="color: red;"><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @camper do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  
  <%= f.label :age %><br>
  <%= f.number_field :age %><br>

  <%= f.submit %>
<% end %>